<template>
  <div class="icon"><fa-icon></fa-icon></div>
</template>

<script>
let iconName = ''
let iconType = 'light'

export default {
  name: 'Icon',
  components: {
    'fa-icon': () => import(`./assets/fa/${iconType}/${iconName}.svg`)
  },
  props: {
    name: {
      type: String,
      required: true
    },
    type: {
      type: String,
      required: false,
      default: 'light'
    }
  },
  created() {
    iconName = this.name
    iconType = this.type
  }
}
</script>
